@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, dark --prefersdark, cupcake;
}

[data-theme="emerald"] {
  .my-background {
    background-color: #F5F7F9;
  }
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 6rem;
}